body {
  background: #f6f6f6;
  font-family: "Poppins", sans-serif;
}
h1 {
  font-size: 50px;
}
h2{
    font-size: 40px;
}
.orange {
  color: orange;
}
.flex-container {
  display: flex;
  margin-bottom: 150px;
}
.left {
  width: 65%;
  padding-left: 5%;
}
.right {
  width: 35%;
  padding: 5%;
}
.right img {
  width: 100%;
}
.button {
  text-decoration: none;
  background-image: linear-gradient(orange, tomato);
  color: white;
  font-weight: 700;
  padding: 10px 40px;
  border-radius: 5px;
}

.Dream-Big{
    background-image: url(../images/bg3.jpg);
    background-repeat: no-repeat;
    background-position: right;
}
.left2 {
    width: 45%;
    padding: 5%;
    padding-top: 0%;
  }
  .left2 img {
    width: 100%;
  }
  .right2 {
    width: 65%;
  }
 
.exp{
    background-image: url(../images/bg3.jpg);
    background-repeat: no-repeat;
    background-position: left;
}  
.half-width1{
 width: 40%;
 padding: 2%;
 margin: 0 5%;
 box-shadow: 10px 10px 40px gray;
 border-left: 7px solid;
 border-image: linear-gradient(#f813f8,#133efd) ;
 border-image-slice: 1;
}
.half-width2{
 width: 40%;
 padding: 2%;
 margin: 0 5%;
 box-shadow: 10px 10px 40px gray;
 border-left: 7px solid;
 border-image: linear-gradient(yellow,tomato) ;
 border-image-slice: 1;
}

footer p{
    text-align: center;
}